<html>

<head>
   <meta charset="utf-8">
   <title></title>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

   <!--   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.26.0/js/jquery.tablesorter.js"></script>-->
   <!--   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.26.0/js/jquery.tablesorter.combined.min.js"></script>-->

   <script>
      /* beautify preserve:start */
      /* The copyright statment below only applies to the contents of this script tag*/
      /* Source code at: https://github.com/joequery/Stupid-Table-Plugin 
                              
      Copyright(c) 2012 Joseph McCullough

      Permission is hereby granted, free of charge, to any person obtaining a copy
      of this software and associated documentation files(the "Software"), to deal in the Software without restriction, including without limitation the rights
      to use, copy, modify, merge, publish, distribute, sublicense, and / or sell
      copies of the Software, and to permit persons to whom the Software is
      furnished to do so, subject to the following conditions:

         The above copyright notice and this permission notice shall be included in all
      copies or substantial portions of the Software.

      THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
      IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
      FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.IN NO EVENT SHALL THE
      AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
      LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
      OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
      SOFTWARE.
      */
      (function(c){c.fn.stupidtable=function(b){return this.each(function(){var a=c(this);b=b||{};b=c.extend({},c.fn.stupidtable.default_sort_fns,b);a.data("sortFns",b);a.on("click.stupidtable","thead th",function(){c(this).stupidsort()})})};c.fn.stupidsort=function(b){var a=c(this),g=0,f=c.fn.stupidtable.dir,e=a.closest("table"),k=a.data("sort")||null;if(null!==k){a.parents("tr").find("th").slice(0,c(this).index()).each(function(){var a=c(this).attr("colspan")||1;g+=parseInt(a,10)});var d;1==arguments.length?
d=b:(d=b||a.data("sort-default")||f.ASC,a.data("sort-dir")&&(d=a.data("sort-dir")===f.ASC?f.DESC:f.ASC));e.trigger("beforetablesort",{column:g,direction:d});e.css("display");setTimeout(function(){var b=[],l=e.data("sortFns")[k],h=e.children("tbody").children("tr");h.each(function(a,e){var d=c(e).children().eq(g),f=d.data("sort-value");"undefined"===typeof f&&(f=d.text(),d.data("sort-value",f));b.push([f,e])});b.sort(function(a,b){return l(a[0],b[0])});d!=f.ASC&&b.reverse();h=c.map(b,function(a){return a[1]});
e.children("tbody").append(h);e.find("th").data("sort-dir",null).removeClass("sorting-desc sorting-asc");a.data("sort-dir",d).addClass("sorting-"+d);e.trigger("aftertablesort",{column:g,direction:d});e.css("display")},10);return a}};c.fn.updateSortVal=function(b){var a=c(this);a.is("[data-sort-value]")&&a.attr("data-sort-value",b);a.data("sort-value",b);return a};c.fn.stupidtable.dir={ASC:"asc",DESC:"desc"};c.fn.stupidtable.default_sort_fns={"int":function(b,a){return parseInt(b,10)-parseInt(a,10)},
"float":function(b,a){return parseFloat(b)-parseFloat(a)},string:function(b,a){return b.localeCompare(a)},"string-ins":function(b,a){b=b.toLocaleLowerCase();a=a.toLocaleLowerCase();return b.localeCompare(a)}}})(jQuery);

      /* beautify preserve:end */

   </script>
   <script>
      // A $( document ).ready() block.
      $(document).ready(function() {
         $('table').stupidtable({
            indexstring: function(aIn, bIn) {
               //assumes num before the |
               var a = aIn.split('|'),
                  b = bIn.split('|');
               //are the word parts the same ? need to compair numbers?
               if (a[1] === b[1]) {
                  return (+b[0]) - (+a[0]);
               } else if (a[1] < b[1]) {
                  return 1;
               } else {
                  return -1;
               }

            }
         });
         //make the rows highlight-able
         $('tr').on('click', function() {
            $(this).toggleClass('highlight');
         });

         //delete the column button
         $('th').prepend('<span class="hideShow">-</span>');
         $('.hideShow').on('click', function(e) {
            var index = $('.hideShow').index(this) + 1;
            $('th:nth-child(' + index + '), td:nth-child(' + index + ')').remove();
            e.stopPropagation();
         });
      });

      function changeTableWidth(valIn) {
         $('table').css('width', valIn + '%');
      }

   </script>
   <style>
      body {
         font-family: Arial, sans-serif;
      }
      
      th {
         background-color: cornflowerblue;
         color: white;
         -webkit-user-select: none;
         -moz-user-select: none;
         -ms-user-select: none;
         user-select: none;
         position: relative;
      }
      
      th div {
         border: none;
         width: 0;
         height: 0;
      }
      
      .sorting-desc div {
         width: 0;
         height: 0;
         border-left: 15px solid transparent;
         border-right: 15px solid transparent;
         border-bottom: 15px solid white;
         margin: 0 auto;
      }
      
      .sorting-asc div {
         width: 0;
         height: 0;
         border-left: 15px solid transparent;
         border-right: 15px solid transparent;
         border-top: 15px solid white;
         margin: 0 auto;
      }
      
      .error {
         background-color: red;
         display: inline-block;
         padding: 3px;
         border-radius: 5px;
      }
      
      table {
         border-collapse: collapse;
         margin-top: 30px;
      }
      
      td,
      th {
         border: 1px solid black;
         text-align: center;
      }
      
      th[data-sort] {
         cursor: pointer;
      }
      
      [type='range'] {
         width: 500px;
      }
      
      th.subView {
         background-color: #9575CD;
      }
      
      th.subViewEven {
         background-color: #673AB7;
      }
      
      th.randSections {
         background-color: #2196F3;
      }
      
      th.gradeItem {
         background-color: #4CAF50;
      }
      
      th.date {
         background-color: #FF5722;
      }
      
      th.general {
         background-color: #E91E63;
      }
      
      .highlight {
         background-color: lightgray;
      }
      
      .hideShow {
         width: 15px;
         height: 15px;
         background-color: #B3B3B3;
         display: block;
         position: absolute;
         top: -25;
         line-height: 13px;
      }

   </style>
</head>

<body>
   <h3>Table Width:
      <input type="range" max="500" min="100" value="100" oninput="changeTableWidth(this.value)" />
   </h3>
   <table>
      <thead>
         <tr>
            <th class="general">Link
               <div></div>
            </th>
            <th data-sort="int" class="general">Index
               <div></div>
            </th>
            <th data-sort="indexstring" class="general">Name
               <div></div>
            </th>
            <th data-sort="int" class="general">ID
               <div></div>
            </th>
            <th data-sort="indexstring" class="general">Is Active
               <div></div>
            </th>
            <th data-sort="int" class="general">Time Limit
               <div></div>
            </th>
            <th data-sort="int" class="date">Start Date
               <div></div>
            </th>
            <th data-sort="int" class="date">End Date
               <div></div>
            </th>
            <th data-sort="indexstring" class="gradeItem">Has Grade Item
               <div></div>
            </th>
            <th data-sort="indexstring" class="gradeItem">Auto Export To Gradebook
               <div></div>
            </th>
            <th data-sort="indexstring" class="gradeItem">Auto Grade
               <div></div>
            </th>
            <th data-sort="int" class="gradeItem">Number of Attemps
               <div></div>
            </th>
            <th data-sort="int" class="gradeItem">Grade Calculation
               <div></div>
            </th>
            <th data-sort="string" class="randSections">Rand Sections
               <div></div>

            </th>
            {{#repeat subViewCount}}
            <th data-sort="indexstring" {{classToggleEven className='subView' }}>Submission View Name
               <div></div>
            </th>
            <th data-sort="indexstring" {{classToggleEven className='subView' }}>Show Questions?
               <div></div>
            </th>
            <th data-sort="indexstring" {{classToggleEven className='subView' }}>Show Question Answers
               <div></div>
            </th>
            <th data-sort="indexstring" {{classToggleEven className='subView' }}>Show Class Average
               <div></div>
            </th>
            <th data-sort="indexstring" {{classToggleEven className='subView' }}>Show Score Distribution
               <div></div>
            </th>
            {{/repeat}}
         </tr>
      </thead>
      <tbody>
         {{#each quizzes}}
         <tr>
            <!--link-->
            <td>
               <a href="https://byui.brightspace.com/d2l/lms/quizzing/admin/modify/quiz_newedit_properties.d2l?qi={{id}}&ou={{../courseId}}" target="_blank">Edit This Quiz</a>
            </td>
            <!--Index-->
            <td>{{@index}}</td>
            <!--Name-->
            <td data-sort-value="{{@index}}|{{name}}">{{name}}</td>

            <!--ID-->
            <td>{{id}}</td>

            <!--Is Active-->
            <td data-sort-value="{{@index}}|{{isActive}}">{{isActive}}</td>

            <!--Time Limit-->
            <td>{{timeLimit}}</td>

            <!--Start Date-->
            <td data-sort-value="{{dateToMill date=dates.start}}">{{dateToView dates.start}}</td>

            <!--End Date-->
            <td data-sort-value="{{dateToMill date=dates.end}}">{{dateToView dates.end}}</td>

            <!--Has Grade Item-->
            <td data-sort-value="{{@index}}|{{gradeItem.hasGradeItem}}">{{gradeItem.hasGradeItem}}</td>

            <!--Auto Export To Gradebook-->
            <td data-sort-value="{{@index}}|{{gradeItem.autoExport}}">{{gradeItem.autoExport}}</td>

            <!--Auto Grade-->
            <td data-sort-value="{{@index}}|{{gradeItem.autoGrade}}">{{gradeItem.autoGrade}}</td>

            <!--Number of Attemps-->
            <td>{{gradeItem.numAttempsAllowed}}</td>

            <!--Grade Calculation-->
            <td data-sort-value="{{gradeItem.overallGradeCalc}}">{{gradeCalc gradeItem.overallGradeCalc}}</td>

            <!--Rand Sections-->
            <td data-sort-value="{{randSectionsSort randSections}}">{{randSectionsDisplay randSections}}</td>

            <!-- Submission view -->
            {{#each submissionView}}
            <td data-sort-value="{{@../index}}|{{name}}">{{name}}</td>
            <td data-sort-value="{{@../index}}|{{showResponces responseDisplay}}">{{showResponces responseDisplay}}</td>
            <td data-sort-value="{{@../index}}|{{showQuestionAnswers}}">{{showQuestionAnswers}}</td>
            <td data-sort-value="{{@../index}}|{{showClassAverage}}">{{showClassAverage}}</td>
            <td data-sort-value="{{@../index}}|{{showScoreDistribution}}">{{showScoreDistribution}}</td>
            {{/each}}
         </tr>
         {{/each}}
      </tbody>
   </table>
</body>

</html>
